# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Data Science Popular Languages
* Data Science Library
* Data Science Tools
* Arithmetic Expressions with Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R 
3. Java
4. Julia

Some of the commonly used libraries used by Data Scientists include:
* TensorFlow.
* NumPy.
* SciPy.
* Pandas.
* Matplotlib.

|Data Science Tools| 
|-------------|
|Notebook Jupyter|
|Keras|
|India|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
4 + 4

8

In [4]:
4 * 4

16

In [3]:
4 + 4 * 4

20

In [6]:
#This a simple arithmetic expression to mutiply then add integers
print( (3*4)+5 )

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
result = 200 / 60
print (result)

3.3333333333333335

## Author
Noradibah Adnan